
<h1>
  <%= @list.title %>
</h1>

<%= link_to "Back", lists_path %>

<% if current_user == @list.user %>

  <p>
    <%= link_to 'Edit List', edit_list_path(@list) %> | 
    <%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

<% end %>

<hr/>

<div class="task_list">
  <%= render @list.tasks.order('completed ASC') %>
</div>

